 td{
 	padding:5px;
padding-bottom:10px;
	
}	

/*publication*/
 .fm_color1{
	 background-color:#B9F6E9
 ;
 }.fm_color2{
	 background-color:#DAF3F3;
 }.fm_color3{
	 background-color:#EAFDFF;
 }
 /*S. M. Jahadun-Nobi */
 